.composeInput {
	font-family: 'Trebuchet MS', 'Malgun Gothic';
	width: 40%;
	height: 28px;
	line-height: 28px;
	border: medium none;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-style: solid;
	border-width: 1px;
}

.bubbleForMe {
	position: relative;
	width: 270px;
	height: 45px;
	padding: 13px;
	background: #E0FFFF;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	border: #000000 solid 1px;
}

.bubbleForMe:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	border-color: transparent #E0FFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 14px;
}

.bubbleForMe:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
	left: -16px;
	top: 14px;
}

.bubbleForOther {
	position: relative;
	width: 270px;
	height: 45px;
	padding: 13px;
	background: #EFEFF9;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	border: #000000 solid 1px;
}

.bubbleForOther:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 0 8px 15px;
	border-color: transparent #EFEFF9;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 14px;
}

.bubbleForOther:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 0 8px 15px;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
	right: -16px;
	top: 14px;
}
}